@import "../node_modules/bulma/css/bulma.css";
@import 'material-icons/iconfont/material-icons.css';

.panel{
    margin: 16px;
}
.panel .panel-heading{
    margin: auto;
}

.skeleton-wrapper{
    display: inline-block;
}
.skeleton-element{
    transition-property: opacity;
    transition-duration: 0.5s;
    opacity:0;
}
.skeleton{
    position: absolute;
    color: #e2e2e2;
    background-color: #e2e2e2;
    animation: loading .5s infinite alternate;
    border-radius: 4px;
    user-select: none;
    pointer-events: none;
    cursor: wait;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.skeleton.visible, .skeleton-element.visible{
    opacity: 100%;
}


.hidden{
    pointer-events: none;
    opacity: 0;
}

@keyframes loading {
    from {
        color: #b8b3b3;
        background-color:#b8b3b3;
    }
    to {
        color: hsl(0, 5%, 78%);
        background-color: hsl(0, 5%, 78%);
    }
}